
header{
    background-color: white;

    width: 100%;
    position: fixed;
    display : flex;
    justify-content: space-between;
    align-items: center;



}
    .logo{
        text-decoration: none;
        color: hotpink;
        text-transform: uppercase;
        padding : 10px;


    }/*Nav -bar*/
.navigation a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    margin : 10px;
    color:hotpink;
}
h1 {
    font-size: 3rem;
    color: pink;
    text-align: center;
    font-style: italic;
}
#f{
    font-style: italic;
    color: darkgray;
}




#nav{
    padding: 10px;
    font-size: 1.5rem;
    background-color: lightpink;
}

#main-menu{
    list-style: none;
    display: flex;
    gap: 2rem;

}
#content{
    padding: 20px;
    min-height: 100vh;
}

/* Flex style of dropdowns */
#dropdowns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
@media screen and (max-width: 640px) {
    #dropdowns{
        flex-direction: column;
    }

}

#dropdowns select, #dropdowns button{
    font-size: 1.5rem;
    padding: 5px;
    flex-grow: 1;
}
/* CSS for styling the footer */
footer {

    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 20px;

}

/* Style for the contact section inside the footer */
#contact {
    text-align: right;
    font-size: 16px;
    line-height: 1.5;
}


/*Text styles */



