
Signe Kjær Brandt Hau
    /*Nav -bar*/

#nav{
    padding: 10px;
    font-size: 1.5rem;
    background-color: darkturquoise;
}

#main-menu{
    list-style: none;
    display: flex;
    gap: 2rem;

}
#content{
    padding: 20px;
    min-height: 100vh;
}

/* Flex style of dropdowns */
#dropdowns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
@media screen and (max-width: 640px) {
    #dropdowns{
        flex-direction: column;
    }

}

#dropdowns select, #dropdowns button{
    font-size: 1.5rem;
    padding: 5px;
    flex-grow: 1;
}

/*Text styles */

h1{
    font-size: 5rem;
    color: black ;
    background-color: darkturquoise;
}

h2{
    font-size: 3rem;
}

p{

}