<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OrderLines</title>
</head>
<body>
<h1>Order Lines</h1>
<h2>    <h2>Hi <span th:text="${#ctx.session.login.username}"></span> Here is your orderline</h2>
</h2>

    <body>
    <table style="width:50%">
        <tr>
            <th>bottoms</th>
            <th>toppings </th>
            <th>quantity</th>
            <th>pricePerQuantity</th>

    <form  action="/cart" method ="post">
    <tr th:each="orderline : ${session.cart.cart}">
        <td th:text="${session.bottomMap.get(orderline.bottomid).name}"></td>
        <td th:text="${session.toppingmap.get(orderline.toppingId).name}"></td>
        <td th:text="${orderline.quantity}"></td>








    </tr>
    </form>
    </table>
    </body>
</table>
</body>
</html>
