<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<img  id = "imageuser" src="../public/css/berry-glazing_1098-15023.jpg" th:src="@{/css/berry-glazing_1098-15023.jpg}"/>
<div class="content">


<div class="content-box">
    <h1>Create user</h1>
    <form class="form-page" id="form-create" method="post" >
        <h3>Fill the form</h3>
        <input type="text" name ="name"  placeholder="name" /><br>
        <input type="text" name="username" placeholder="username"/><br>
        <input type="password" name="password1" placeholder="password"/><br>
        <input type="password" name="password2" placeholder="re-enter password"/><br>
        <button class="login_button" type="submit"  formaction="/createuser">Create user</button>
        <a href="/login" class="link-login" >You have account? login</a>
        <br>

        <p class="message" th:text="${#ctx.message}"></p>

    </form>
</div>
</div>

</body>

</html>
