<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake/log-in</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<img  id = "imagelogin" src="../public/css/berry-glazing_1098-15023.jpg" th:src="@{/css/berry-glazing_1098-15023.jpg}"/>
<div class="content">
       <div class="content-box">
    <form  class="form-page" id="form-login" method="post" action="/login">


        <h3>Login</h3>
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button class ="login_button" type="submit" >login</button>
        <a href="/createuser" class="link-login">You don't have account? Create account</a>
        <p  th:text="${#ctx.message}"></p>

    </form>


    </div>

</div>
</body>
</html>